.ant-alert{
    padding: 11px 12px;
    .ant-alert-icon{
        margin-right: 16px;
    }
}
.ant-alert-with-description {
    .ant-alert-message{
        font-weight: 600;
    }
    .ant-alert-description{
        color: @black-7;
    }
}
.ant-message {
    .anticon{
      margin-right: 16px;  
    }
}