//  date picker CSS

.ant-picker {
  padding-top: 7px;
  padding-bottom: 7px;

  &.ant-picker-focused {
    border-color: @input-focus-border-color;
    box-shadow: 0 0 0 2px @primary-color-outline;
  }
  .ant-picker-input {
    > input {
      line-height: 18px;
    }
  }
}

.ant-picker-dropdown {
  font-size: 12px;
  line-height: 14px;
}

.ant-picker-input {
  > input {
    &[disabled] {
      color: @text-color;
    }
  }
}

.ant-picker-header {
  align-items: center;
  margin-bottom: 16px;
  padding: 0;
  border: none;
}

.ant-picker-panel-container {
  border: 1px solid @border-color-split;
  box-shadow: 0px 14px 21px -1px rgba(6, 25, 56, 0.08);
}

.ant-picker-decade-panel,
.ant-picker-year-panel,
.ant-picker-quarter-panel,
.ant-picker-month-panel,
.ant-picker-week-panel,
.ant-picker-date-panel {
  width: 248px;
  padding: 16px;

  .ant-picker-body {
    padding: 0;
  }
}

.ant-picker-date-panel {
  padding: 16px;

  // width: 246px;
  .ant-picker-header-super-prev-btn,
  .ant-picker-header-super-next-btn {
    display: none;
  }

  .ant-picker-body {
    padding: 0;
  }

  .ant-picker-content {
    width: 100%;
    table-layout: auto;
    th {
      color: @text-color-tertiary;
    }
  }
}

.ant-picker-cell {
  color: @text-color-tertiary;
}

.ant-picker-cell-in-view {
  color: @text-color;
}

.ant-picker-cell-in-view {
  &.ant-picker-cell-selected {
    .ant-picker-cell-inner {
      color: @primary-color;
      font-weight: 600;
      background-color: @white;
      border: 1px solid @blue-6;
      box-shadow: 0px 0px 4px rgba(99, 102, 241, 0.6);
    }

    &.ant-picker-cell-today {
      .ant-picker-cell-inner {
        &:before {
          border-color: transparent;
        }
      }
    }
  }

  &.ant-picker-cell-in-range {
    &.ant-picker-cell-today {
      .ant-picker-cell-inner {
        &:before {
          border-color: @border-color-split;
        }
      }
    }
  }
}

.ant-picker-week-panel-row-selected {
  .ant-picker-cell-in-view {
    &.ant-picker-cell-selected {
      .ant-picker-cell-inner {
        color: @white;
        font-weight: 400;
        border: none;
      }
    }
  }
}

.ant-picker-header-view {
  line-height: normal;

  button {
    font-weight: 600;
    font-size: 12px;
  }
}

.ant-picker-header {
  button {
    line-height: normal;
  }

  .ant-picker-header-prev-btn,
  .ant-picker-header-next-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 4px;
    line-height: 24px;
    border: 1px solid @border-color-base;
    border-radius: @border-radius-base;
  }
}

.ant-picker-prev-icon,
.ant-picker-super-prev-icon {
  transform: rotate(-45deg) translate(1px, 1px);
}

.ant-picker-next-icon,
.ant-picker-super-next-icon {
  transform: rotate(135deg) translate(1px, 1px);
}

.ant-picker-suffix {
  color: @text-color-tertiary;
  .anticon-calendar {
    svg {
      width: 16px;
      height: 16px;
    }
  }
}

.ant-picker-status-error {
  &.ant-picker {
    border-color: @highlight-color;

    &.ant-picker-focused,
    &:focus {
      box-shadow: 0 0 0 2px rgba(220, 38, 38, 0.2);
    }
  }
}

.ant-picker-status-error {
  &.ant-picker:not([disabled]):hover {
    border-color: @highlight-color;
  }
}

.ant-picker-large {
  padding: 10px 12px;
}

.ant-picker-content {
  padding-right: 16px;
  padding-left: 16px;
}

.ant-picker-time-panel {
  .ant-picker-header {
    height: 56px;
    margin-bottom: 0;
    padding: 16px;
  }

  .ant-picker-content {
    max-height: @picker-time-panel-column-height;
    overflow: hidden;
  }

  .ant-picker-time-panel-column {
    border-left: none;
  }
}

.ant-picker-time-panel-column {
  .slimScrollBar();
  > li {
    padding: 3px;
    &.ant-picker-time-panel-cell {
      .ant-picker-time-panel-cell-inner {
        width: 24px;
        min-width: 24px;
        padding: 0;
        text-align: center;
        border-radius: @border-radius-base;

        &:hover {
          background-color: @picker-basic-cell-hover-color;
        }
      }

      &.ant-picker-time-panel-cell-selected {
        .ant-picker-time-panel-cell-inner {
          color: @primary-color;
          font-weight: 600;
          background-color: @white;
          border: 1px solid @blue-6;
          box-shadow: 0px 0px 4px rgba(99, 102, 241, 0.6);
        }
      }
    }
  }
}
