// @import '../color/colorPalette';
/* system colors*/

/*red tone*/
// @r0: #da1e28;
// @r100: #7f1d1d;
// @r200: #991b1b;
// @r300: #b91c1c;
// @r400: #dc2626;
// @r500: #ef4444;
// @r600: #f87171;

// @r700: #fca5a5;
// @r800: #fecaca;
// @r900: #fee2e2;
// @r1000: #fef2f2;
// @r60: #ff4949;

/*Yellow tone*/
// @y0: #f1c21b;
// @y100: #78350f;
// @y200: #92400e;
// @y300: #b45309;
// @y400: #d97706;
// @y500: #f59e0b;
// @y600: #fbbf24;

// @y700: #fcd34d;
// @y800: #fde68a;
// @y900: #fef3c7;
// @y1000: #fffbeb;
// @y60: #ffc82c;

/*Green tone*/
// @g0: #24a148;
// @g100: #064e3b;
// @g200: #065f46;
// @g300: #047857;
// @g400: #059669;
// @g500: #00b679;
// @g600: #34d399;
// @g700: #6ee7b7;
// @g800: #a7f3d0;
// @g900: #d1fae5;
// @g1000: #ecfdf5;
// @g60: #13ce66;

/*Blue tone*/
//@b0   : #0043CE;
// @b100: #312e81;
// @b200: #3730a3;
// @b300: #4338ca;
// @b400: #4f46e5;
// @b500: #6366f1;
// @b600: #818cf8;

// @b700: #a5b4fc;
// @b800: #c7d2fe;
// @b900: #e0e7ff;
// @b1000: #eef2ff;

/*Light gray color tone*/

// @lg0: #ffffff;
// @lg100: #f9f9f9;
// @lg200: #e8e8e8;
// @lg300: #d8d8d8;
// @lg400: #c9c9c9;
// @lg500: #fafafb;
// @lg600: #aaaaaa;
// @lg700: #9b9b9b;

/*dark gray color tone*/
// @dg0: #8b8b8b;
// @dg100: #111827;
// @dg200: #1f2937;
// @dg300: #374151;
// @dg400: #4b5563;
// @dg500: #6b7280;
// @dg600: #9ca3af;
// @dg700: #d1d5db;

/*Dark blue color tone*/
// @db0: #5e6c84;
// @db100: #505f79;
// @db200: #42526e;
// @db300: #1b1b32;
// @db400: #1d2021;
// @db500: #172b4d;
// @db600: #133754;
// @db700: #292d32;

/*Gray tone*/
// @n0: #f7f9fc;
// @n10: #f2f5fa;
// @n20: #edf0f7;
// @n30: #e6eaf2;
// @n40: #d3d9e6;
// @n50: #c1c7d6;
// @n60: #b1b9cc;
// @n70: #a3abbf;
// @n80: #949db3;
// @n90: #858fa6;
// @n100: #778199;
// @n200: #606d8a;
// @n300: #576380;
// @n400: #505c7a;
// @n500: #585858;
// @n600: #2f2f2f;
// @n700: #243357;
// @n800: #17274d;
// @n900: #061538;

/*Purple tone*/
// @p0: #eae6ff;
// @p100: #4c1d95;
// @p200: #5b21b6;
// @p300: #6d28d9;
// @p400: #7c3aed;
// @p500: #8b5cf6;
// @p600: #a78bfa;

// @p700: #c4b5fd;
// @p800: #ddd6fe;
// @p900: #ede9fe;
// @p1000: #f5f3ff;

/*Orange tone*/
// @o0: #fff4f2;
// @o50: #fbe9e7;
// @o100: #ffccbc;
// @o200: #ffab91;
// @o300: #f26a26;
// @o400: #ff874d;
// @o500: #ff5622;
// @o600: #f4501e;
// @o700: #e64919;
// @o800: #d84215;
// @o900: #bf350c;

/*Cyan tone*/
// @c0: #e6fcff;
// @c100: #05abd6;
// @c200: #05bbea;
// @c300: #1acbfa;
// @c400: #53d8fb;
// @c500: #73dffc;
// @c600: #96e7fd;

// @c700: #c8f3fe;
// @c800: #afedfd;
// @c900: #dcf7fe;
// @c50: #f0fcff;

/*Pink color tone*/
//@p0   : #5E6C84;
// @p100: #831843;
// @p200: #9c174d;
// @p300: #be185d;
// @p400: #db2777;
// @p500: #eb4898;
// @p600: #f372b5;
// @p700: #f9a8d4;
// @p800: #facee7;
// @p900: #fce7f3;
// @p1000: #fdf2f8;

// @sm-blue: @b500;
// @sm-darkblue: @n800;
@white: #ffffff;
@black: #000000;

// Primary color (purple)
@blue-base: #4f46e5;

@blue-0: #f3f6ff;
@blue-1: #eef2ff;
@blue-2: #e0e7ff;
@blue-3: #c7d2fe;
@blue-4: #a5b4fc;
@blue-5: #818cf8;
@blue-6: #6366f1;
@blue-7: @blue-base;
@blue-8: #4338ca;
@blue-9: #3730a3;
@blue-10: #312e81;

// secondary color (black)
@black-base: #201f37;

@black-1: #f5f5f7;
@black-2: #ededf0;
@black-3: #e1e1e8;
@black-4: #d1d1db;
@black-5: #9d9caf;
@black-6: #6c6b80;
@black-7: #4c4b63;
@black-8: #383751;
@black-9: @black-base;
@black-10: #111024;

// Accent color

// pink
@pink-base: #db2777;

@pink-1: #fdf2f8;
@pink-2: #fce7f3;
@pink-3: #facee7;
@pink-4: #f9a8d4;
@pink-5: #f372b5;
@pink-6: #eb4898;
@pink-7: @pink-base;
@pink-8: #be185d;
@pink-9: #9c174d;
@pink-10: #831843;

// purple
@purple-base: #7c3aed;

@purple-1: #f5f3ff;
@purple-2: #ede9fe;
@purple-3: #ddd6fe;
@purple-4: #c4b5fd;
@purple-5: #a78bfa;
@purple-6: #8b5cf6;
@purple-7: @purple-base;
@purple-8: #6d28d9;
@purple-9: #5b21b6;
@purple-10: #4c1d95;

// cerulean blue
@cyan-base: #1acbfa;

@cyan-1: #f0fcff;
@cyan-2: #dcf7fe;
@cyan-3: #c8f3fe;
@cyan-4: #afedfd;
@cyan-5: #96e7fd;
@cyan-6: #73dffc;
@cyan-7: #53d8fb;
@cyan-8: @cyan-base;
@cyan-9: #05bbea;
@cyan-10: #05abd6;

// functional color

// red - error
@red-base: #dc2626;

@red-1: #fef2f2;
@red-2: #fee2e2;
@red-3: #fecaca;
@red-4: #fca5a5;
@red-5: #f87171;
@red-6: #ef4444;
@red-7: @red-base;
@red-8: #b91c1c;
@red-9: #991b1b;
@red-10: #7f1d1d;

// orange - warning
@orange-base: #f59e0b;

@orange-1: #fffbeb;
@orange-2: #fef3c7;
@orange-3: #fde68a;
@orange-4: #fcd34d;
@orange-5: #fbbf24;
@orange-6: @orange-base;
@orange-7: #d97706;
@orange-8: #b45309;
@orange-9: #92400e;
@orange-10: #78350f;

// green - success
@green-base: #059669;

@green-1: #ecfdf5;
@green-2: #d1fae5;
@green-3: #a7f3d0;
@green-4: #6ee7b7;
@green-5: #34d399;
@green-6: #00b679;
@green-7: @green-base;
@green-8: #047857;
@green-9: #065f46;
@green-10: #064e3b;

// blue - info
@geekblue-base: #2563eb;

@geekblue-1: #eff6ff;
@geekblue-2: #dbeafe;
@geekblue-3: #bfdbfe;
@geekblue-4: #93c5fd;
@geekblue-5: #60a5fa;
@geekblue-6: #3b82f6;
@geekblue-7: @geekblue-base;
@geekblue-8: #1d4ed8;
@geekblue-9: #1e40af;
@geekblue-10: #1e3a8a;

// green - success
@yellow-base: #fadb14;

@yellow-1: #feffe6;
@yellow-2: #ffffb8;
@yellow-3: #fffb8f;
@yellow-4: #fff566;
@yellow-5: #ffec3d;
@yellow-6: @yellow-base;
@yellow-7: #d4b106;
@yellow-8: #ad8b00;
@yellow-9: #876800;
@yellow-10: #614700;
