// input and label CSS

.ant-form-item {
  margin-bottom: 32px;
}

input {
  &.ant-input::placeholder {
    color: @input-placeholder-color;
    font-size: 14px;
    line-height: 18px;
    opacity: 1;
  }

  &.ant-input:-ms-input-placeholder {
    color: @input-placeholder-color;
    font-size: 14px;
    line-height: 18px;
    opacity: 1;
  }

  &.ant-input::-ms-input-placeholder {
    color: @input-placeholder-color;
    font-size: 14px;
    line-height: 18px;
    opacity: 1;
  }
}

.ant-input {
  line-height: 18px;

  &.ant-input-lg {
    font-size: @font-size-base;
  }

  &.ant-input-sm {
    font-size: @font-size-sm;
    line-height: 14px;
  }

  &:focus {
    border-color: @input-focus-border-color;
    box-shadow: 0 0 0 2px @primary-color-outline;
  }

  &[disabled],
  &.ant-input-disabled {
    color: @text-color;
  }
}

.ant-input-affix-wrapper {
  &.ant-input-affix-wrapper-lg {
    font-size: @font-size-base;
  }

  &.ant-input-affix-wrapper-sm {
    font-size: @font-size-sm;
    line-height: 14px;
  }

  &.ant-input-affix-wrapper-focused {
    &:not(.ant-input-affix-wrapper-disabled) {
      border-color: @input-focus-border-color;
      box-shadow: 0 0 0 2px @primary-color-outline;
    }
  }
}

.ant-form-vertical {
  .ant-form-item-control-input {
    &:has(.ant-switch) {
      min-height: 20px;
    }

    &:has(.ant-switch.ant-switch-small) {
      min-height: 18px;
    }
  }
}

.ant-input-group {
  .ant-btn {
    height: 34px;
  }

  .ant-btn-lg {
    height: 40px;
  }
}

.ant-input-group-lg {
  .ant-input,
  > .ant-input-group-addon {
    font-size: @font-size-base;
  }
}

.ant-input-status-error {
  &:not(.ant-input-disabled) {
    &:not(.ant-input-borderless) {
      &.ant-input {
        border-color: @highlight-color;

        &:hover {
          border-color: @highlight-color;
        }
      }
    }
  }
}

.ant-input-affix-wrapper-status-error {
  &:not(.ant-input-affix-wrapper-disabled) {
    &:not(.ant-input-affix-wrapper-borderless) {
      &.ant-input-affix-wrapper {
        border-color: @highlight-color;

        &:hover {
          border-color: @highlight-color;
        }
      }
    }
  }
}

// input number css

.ant-input-number {
  &:focus,
  &.ant-input-number-focused {
    border-color: @input-focus-border-color;
    box-shadow: 0 0 0 2px @primary-color-outline;
  }

  &[disabled],
  &.ant-input-number-disabled {
    color: @text-color;
  }
}

// form label and messages css

.ant-form-vertical .ant-form-item-label,
.ant-col-24.ant-form-item-label,
.ant-col-xl-24.ant-form-item-label {
  line-height: 18px;
}

.ant-form-horizontal {
  .ant-col-24 > label,
  .ant-col-xl-24 > label {
    height: auto;
  }
}

.ant-form-item-label {
  > label {
    line-height: 18px;
  }
}

.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  height: 16px;
  margin-right: 2px;
  color: @red-8;
  font-weight: bold;
}

.ant-form-item-explain,
.ant-form-item-extra {
  padding-top: 8px;
  color: @text-color-tertiary;
  font-size: 12px;
  line-height: 14px;
}

.ant-form-item-explain-error {
  color: @highlight-color;
}

// select css

.ant-select-arrow {
  color: @text-color-tertiary;

  .anticon {
    svg {
      width: 10px;
      height: 10px;
    }
  }
}

.ant-select {
  &:not(.ant-select-customize-input) {
    &:not(.ant-select-disabled) {
      &.ant-select-focused {
        .ant-select-selector {
          border-color: @input-focus-border-color;
          box-shadow: 0 0 0 2px @primary-color-outline;
        }
      }
    }

    &.ant-select-disabled {
      .ant-select-selector {
        color: @text-color;
      }
    }
  }

  &.ant-select-open {
    .ant-select-arrow {
      .anticon {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.ant-select-lg {
  font-size: 14px;
}

.ant-checkbox-inner {
  &:after {
    margin-top: -1px;
  }
}

.ant-checkbox-wrapper,
.ant-checkbox {
  &:hover {
    .ant-checkbox-inner {
      border-color: @input-hover-border-color;
    }
  }

  &:focus,
  &:focus-within {
    .ant-checkbox-inner {
      border-color: @input-focus-border-color;
      box-shadow: 0 0 0 2px @primary-color-outline;
    }
  }
}

.ant-checkbox {
  .ant-checkbox-input {
    border-radius: @border-radius-base;
  }

  &.ant-checkbox-checked {
    &:not(.ant-checkbox-disabled) {
      &:hover {
        .ant-checkbox-inner {
          background-color: @primary-color-hover;
          border-color: @primary-color-hover;
        }
      }
    }

    &.ant-checkbox-disabled {
      .ant-checkbox-inner {
        background-color: @border-color-split;
        border-color: @border-color-split !important;

        &:after {
          border-color: @text-color-tertiary;
        }
      }
    }
  }

  &.ant-checkbox-indeterminate {
    &.ant-checkbox-disabled {
      .ant-checkbox-inner {
        &:after {
          background-color: @border-color-split;
          border-color: @border-color-split;
        }

        &:before {
          background-color: @text-color-tertiary;
        }
      }
    }
  }

  &.ant-checkbox-disabled {
    + span {
      color: @text-color;
    }
  }
}

.ant-checkbox-wrapper {
  &:hover {
    .ant-checkbox {
      &.ant-checkbox-checked,
      &.ant-checkbox-indeterminate {
        &:not(.ant-checkbox-disabled) {
          .ant-checkbox-inner {
            background-color: @primary-color-hover;
            border-color: @primary-color-hover;
          }
        }
      }

      &.ant-checkbox-indeterminate {
        .ant-checkbox-inner {
          &:after {
            background-color: @primary-color-hover;
          }
        }
      }
    }
  }
}

.ant-checkbox-indeterminate {
  .ant-checkbox-inner {
    &:after {
      width: 16px;
      height: 16px;
      margin: 0;
      background-color: @checkbox-color;
      border-radius: 2px;
      border-radius: 4px;
    }

    &::before {
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      z-index: 1;
      width: 8px;
      height: 0.5px;
      margin: 0 auto;
      text-align: center;
      background-color: @white;
      content: '';
    }
  }

  &:hover {
    .ant-checkbox-inner {
      background-color: @primary-color-hover;
      border-color: @primary-color-hover;

      &:after {
        background-color: @primary-color-hover;
      }
    }
  }
}

// radio and radio buttons css

.ant-radio-wrapper,
.ant-radio {
  &:hover {
    .ant-radio-inner {
      border-color: @input-hover-border-color;
    }
  }

  &:focus,
  &:focus-within {
    .ant-radio-inner {
      border-color: @input-focus-border-color;
      box-shadow: 0 0 0 2px @primary-color-outline;
    }
  }
}

.ant-radio {
  .ant-radio-input {
    border-radius: @border-radius-base;
  }

  &.ant-radio-checked {
    &:not(.ant-radio-disabled) {
      .ant-radio-inner {
        background-color: @radio-solid-checked-color;
        border-color: @radio-solid-checked-color;

        &:after {
          transform: scale(0.28);
        }
      }

      &:hover {
        .ant-radio-inner {
          background-color: @primary-color-hover;
          border-color: @primary-color-hover;
        }
      }

      &:focus {
        .ant-radio-inner {
          background-color: @radio-solid-checked-color;
          border-color: @radio-solid-checked-color;
          box-shadow: 0 0 0 2px @primary-color-outline;
        }
      }
    }
  }

  &.ant-radio-disabled {
    &.ant-radio-checked {
      .ant-radio-inner {
        &:after {
          background-color: @border-color-base;
        }
      }
    }

    &:hover {
      .ant-radio-inner {
        border-color: @border-color-base;
      }
    }
  }
}

.ant-radio-wrapper {
  &:hover {
    .ant-radio {
      &.ant-radio-checked {
        &:not(.ant-radio-disabled) {
          .ant-radio-inner {
            background-color: @primary-color-hover;
            border-color: @primary-color-hover;
          }
        }
      }
    }
  }

  &.ant-radio-wrapper-disabled {
    &:hover {
      .ant-radio-inner {
        border-color: @border-color-base;
      }
    }
  }
}

.ant-radio-group {
  .ant-radio-button-wrapper {
    &:not(.ant-radio-button-wrapper-disabled) {
      &:hover {
        color: @primary-color;
      }
    }

    &.ant-radio-button-wrapper-checked {
      &:not(.ant-radio-button-wrapper-disabled) {
        color: @primary-color;
        border-color: @primary-color;
      }

      &:not(:first-child) {
        &:before {
          background-color: @primary-color;
        }
      }
    }
  }

  &.ant-radio-group-solid {
    .ant-radio-button-wrapper-checked {
      &:not(.ant-radio-button-wrapper-disabled) {
        color: @white;
        background-color: @primary-color;
      }
    }
  }
}

// checkbox tree CSS

.ant-select-tree-checkbox-indeterminate {
  .ant-select-tree-checkbox-inner {
    &:after {
      margin-top: 0;
      background-color: @primary-color;
      border-radius: 2px;
    }
  }
}

.ant-select-tree-checkbox-inner {
  &:after {
    margin-top: -1px;
  }
}

.ant-select-tree-checkbox-indeterminate .ant-select-tree-checkbox-inner {
  &::after {
    width: 16px;
    height: 16px;
    border-radius: 4px;
  }

  &::before {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 1;
    width: 8px;
    height: 0.5px;
    margin: 0 auto;
    text-align: center;
    background-color: @white;
    content: '';
  }
}

// Button CSS

.ant-btn {
  line-height: 18px;

  .anticon {
    svg {
      width: 16px;
      height: 16px;
    }
  }

  &.ant-btn-lg {
    .anticon {
      svg {
        width: 18px;
        height: 18px;
      }
    }
  }

  &.ant-btn-icon-only {
    svg {
      width: 20px;
      height: 20px;
    }

    &.ant-btn-sm {
      svg {
        width: 16px;
        height: 16px;
      }
    }

    &.ant-btn-lg {
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  &.ant-btn-default {
    &:hover {
      color: @text-color;
      background-color: @default-color-hover;
      border-color: @border-color-base;
    }

    &:focus {
      color: @text-color;
      background-color: @default-color-focus;
      border-color: @border-color-base;
      box-shadow: 0px 0px 0px 2px @primary-color-outline;
    }

    &[disabled] {
      color: @black-4;
      background-color: @white;
      border-color: @border-color-split;
    }
  }

  &.ant-btn-text {
    &:hover {
      color: @text-color;
      background-color: @default-color-hover;
      border-color: @background-color-base;
    }

    &:focus {
      color: @text-color;
      background-color: @default-color-focus;
      border-color: @default-color-focus;
      box-shadow: 0px 0px 0px 2px @primary-color-outline;
    }

    &[disabled] {
      color: @black-4;
      background-color: @white;
      border-color: @white;
    }
  }

  &.ant-btn-link {
    padding: 0;

    &:hover {
      color: @primary-color-active;
    }

    &[disabled] {
      color: @black-4;
    }
  }

  &.ant-btn-dashed {
    &:hover {
      color: @primary-color-hover;
      background-color: @white;
      border-color: @primary-color-hover;
    }

    &:focus {
      color: @primary-color-focus;
      background-color: @default-color-focus;
      border-color: @border-color-base;
      box-shadow: 0px 0px 0px 2px @primary-color-outline;
    }

    &[disabled] {
      color: @black-4;
      background-color: @white;
      border-color: @border-color-split;
    }
  }

  &.ant-btn-primary {
    &:hover {
      color: @white;
      background-color: @primary-color-hover;
      border-color: @primary-color-hover;
    }

    &:focus {
      color: @white;
      background-color: @primary-color-focus;
      border-color: @primary-color-focus;
      box-shadow: 0px 0px 0px 2px @primary-color-outline;
    }

    &[disabled] {
      color: @white;
      background-color: @primary-color-outline;
      border-color: @primary-color-outline;
    }
  }

  &.ant-btn-dangerous {
    color: @white;
    background: @error-color;
    border-color: @error-color;

    &:hover {
      color: @white;
      background-color: @error-color-hover;
      border-color: @error-color-hover;
    }

    &:focus {
      color: @white;
      background-color: @error-color-focus;
      border-color: @error-color-focus;
      box-shadow: 0px 0px 0px 2px @error-color-outline;
    }

    &[disabled] {
      color: @white;
      background: @error-color-outline;
      border-color: @error-color-outline;
    }

    &.ant-btn-default {
      color: @error-color;
      background: @white;
      border-color: @red-4;

      &:hover {
        color: @error-color;
        background: @red-2;
        border-color: @red-4;
      }

      &:focus {
        color: @error-color;
        background: @white;
        border-color: @red-4;
        box-shadow: 0px 0px 0px 2px @error-color-outline;
      }

      &[disabled] {
        color: @red-4;
        background: @white;
        border-color: @error-color-outline;
      }
    }

    &.ant-btn-text {
      color: @error-color;
      background: @white;
      border-color: @white;

      &:hover {
        color: @error-color;
        background: @red-2;
        border-color: @red-2;
      }

      &:focus {
        color: @error-color;
        background: @white;
        border-color: @white;
        box-shadow: 0px 0px 0px 2px @error-color-outline;
      }

      &[disabled] {
        color: @red-4;
        background: @white;
        border-color: @white;
      }
    }

    &.ant-btn-dashed {
      color: @error-color;
      background-color: @white;
      border-color: @red-4;

      &:hover {
        color: @error-color;
        background-color: @red-2;
        border-color: @red-4;
      }

      &:focus {
        color: @error-color;
        background-color: @white;
        border-color: @red-4;
        box-shadow: 0px 0px 0px 2px @error-color-outline;
      }

      &[disabled] {
        color: @red-4;
        background: @white;
        border-color: @error-color-outline;
      }
    }

    &.ant-btn-link {
      color: @error-color;
      background: transparent;
      border-color: transparent;
      box-shadow: none;

      &:hover {
        color: @error-color-hover;
      }

      &[disabled] {
        color: @red-4;
        background: transparent;
        border-color: transparent;
        box-shadow: none;
      }
    }
  }

  &.ant-btn-success {
    color: @white;
    background: @success-color;
    border-color: @success-color;

    &:hover {
      color: @white;
      background-color: @success-color-hover;
      border-color: @success-color-hover;
    }

    &:focus {
      color: @white;
      background-color: @success-color-focus;
      border-color: @success-color-focus;
      box-shadow: 0px 0px 0px 2px @success-color-outline;
    }

    &[disabled] {
      color: @white;
      background: @success-color-outline;
      border-color: @success-color-outline;
    }
  }

  + .ant-btn,
  + .ant-btn.ant-btn-link {
    margin-left: 16px;
  }
}

// dropdown CSS

.ant-btn {
  &.ant-btn-default {
    &.ant-dropdown-trigger {
      .anticon {
        &.anticon-down {
          color: @text-color-tertiary;
          transform: translateY(-1px);

          svg {
            width: 10px;
            height: 10px;
          }
        }
      }

      &.ant-dropdown-open {
        .anticon {
          &.anticon-down {
            svg {
              transform: rotate(180deg);
            }
          }
        }
      }

      &:hover {
        background-color: @component-background;
        border-color: @input-hover-border-color;
      }

      &:focus {
        background-color: @component-background;
        border-color: @input-focus-border-color;
      }

      &[disabled] {
        color: @text-color;
        background-color: @disabled-bg;
        border-color: @border-color-split;
      }
    }
  }
}

.ant-dropdown-button {
  .ant-dropdown-trigger {
    margin-left: 0;
  }
}

.ant-dropdown-menu-item {
  &:hover,
  &.ant-dropdown-menu-item-active,
  &.ant-dropdown-menu-submenu-title-active {
    background-color: @select-item-active-bg;
  }
}

.ant-dropdown-menu-submenu-title {
  &:hover,
  &.ant-dropdown-menu-item-active,
  &.ant-dropdown-menu-submenu-title-active {
    background-color: @select-item-active-bg;
  }
}

.ant-dropdown-menu {
  border: 1px solid @border-color-base;
}

.input-text {
  label,
  p {
    display: block;
    margin-bottom: 8px;
    color: @label-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }

  span {
    display: block;
    padding: 8px 16px;
    border: 1px solid @border-color-base;
    border-radius: 4px;
  }
}

// select deopdown CSS

.ant-select-dropdown {
  border: 1px solid @border-color-base;
  box-shadow: 0px 14px 21px -1px rgba(6, 25, 56, 0.08);
}

.ant-select-multiple {
  .ant-select-selector {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .ant-select-selection-item {
    align-items: center;
    margin: 2px 10px 2px 0;
    padding-left: 4px;
    font-weight: 500;
    font-size: 12px;

    .ant-select-selection-item-content {
      margin-right: 2px;
    }

    .ant-select-selection-item-remove {
      width: 16px;
      height: 16px;
      color: @text-color;
    }
  }

  &.ant-select-disabled {
    .ant-select-selection-item {
      color: @text-color;
      background-color: @border-color-split;
    }
  }
}

.input-label-text {
  display: block;
  margin-top: 8px;
  color: @text-color-tertiary;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

// Password strength

.strength {
  margin-top: -32px;
  margin-bottom: 16px;
  text-align: right;

  > div {
    justify-content: flex-end;
  }

  &.weak {
    > div {
      .strength-length {
        &:first-child {
          background: @red-6;
        }
      }
    }

    .strength-word {
      color: @red-6;
    }
  }

  &.fair {
    > div {
      .strength-length {
        &:first-child,
        &:nth-child(2) {
          background: @warning-color;
        }
      }
    }

    .strength-word {
      color: @warning-color;
    }
  }

  &.good {
    > div {
      .strength-length {
        &:first-child,
        &:nth-child(2),
        &:nth-child(3) {
          background: @green-6;
        }
      }
    }

    .strength-word {
      color: @green-6;
    }
  }

  &.strong {
    > div {
      .strength-length {
        background: @green-8;
      }
    }

    .strength-word {
      color: @green-8;
    }
  }
}

.strength-length {
  width: 40px;
  height: 4px;
  margin: 8px 0 8px 8px;
  background: @border-color-split;
  border-radius: 37px;
}

.strength-word {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  .anticon {
    margin-left: 4px;
  }
}

.custom-input {
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    width: 300px;
  }

  .custom-text {
    width: calc(100% - 300px);
    text-align: right;
  }
}

.custom-label-input {
  .ant-form-item {
    margin-bottom: 0;
  }

  + .custom-label-input {
    margin-top: 32px;
  }
}

.resend-code {
  display: flex;
  margin-top: -10px;
  margin-bottom: 26px;
}

.two-col-input {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  > div {
    width: 49%;
  }
}

.empty-data {
  p {
    margin: 0 0 9px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid @border-color-split;
  }
}

.custom-input-label {
  display: block;
  margin-bottom: 8px;
  color: @label-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.ant-select-item-empty {
  padding: 0;

  > div {
    p {
      margin-bottom: 9px;
      padding-bottom: 9px;
      border-bottom: 1px solid @border-color-split;
    }
  }
}

.ant-form-item-has-error + .input-label-text {
  margin-top: 24px;
}

.button-down-arrow {
  display: flex;
  align-items: center;

  svg {
    margin-top: 3px;
  }

  &:hover,
  &.ant-dropdown-open {
    svg path {
      fill: @white !important;
    }
  }
}

// Switch

.ant-switch {
  background-color: @border-color-base;

  .ant-switch-handle {
    width: 12px;
    height: 12px;
  }

  &.ant-switch-checked {
    background-color: @switch-color;

    .ant-switch-handle {
      left: calc(100% - 12px - 3px);
    }

    &:hover {
      background-color: @switch-color;
    }

    &:focus {
      background-color: @switch-color;
    }

    &[disabled],
    &.ant-switch-disabled {
      background-color: @background-color-base;

      .ant-switch-handle {
        &:before {
          background-color: @border-color-base;
          box-shadow: none;
        }
      }
    }
  }

  &.ant-switch-small {
    .ant-switch-handle {
      top: 2px;
      left: 2px;
      width: 10px;
      height: 10px;
    }

    &.ant-switch-checked {
      .ant-switch-handle {
        left: calc(100% - 10px - 2px);
      }
    }
  }

  &:hover {
    background-color: @text-color-tertiary;
  }

  &:focus {
    background-color: @border-color-base;
    box-shadow: 0px 0px 0px 2px @primary-color-outline;
  }

  &[disabled],
  &.ant-switch-disabled {
    background-color: @background-color-base;

    .ant-switch-handle {
      &:before {
        background-color: @border-color-base;
        box-shadow: none;
      }
    }
  }

  .ant-click-animating-node {
    display: none !important;
  }
}

// file upload box css

.ant-upload {
  &.ant-upload-drag {
    background-color: @component-background;
    border-radius: 8px;

    p {
      &.ant-upload-drag-icon {
        .anticon {
          color: @text-color;
          font-size: 32px;

          svg {
            width: 32px;
            height: 32px;
          }
        }
      }

      &.ant-upload-text {
        margin: 0 0 16px;
        padding: 0 16px;
        color: @text-color;
        font-weight: 500;
        line-height: 20px;
      }

      &.ant-upload-hint {
        padding: 0 16px;
        color: @text-color-gray-light;
      }
    }
  }
}

textarea.large-textarea {
  min-height: 70px;
}