.submenu ul .ant-menu-submenu .ant-menu-submenu .folders-icon {
  margin-left: 0 !important;
}

.submenu ul .ant-menu-submenu .ant-menu-submenu .ant-menu-submenu-arrows + .folders-icon {
  margin-left: 6px !important;
}

.publish-queue-menu {
  .ant-select.sidebar-top-select {
    top: initial;
    width: 100%;
    height: auto;
    margin-bottom: 6px;
    padding-top: 15px;
    padding-right: 24px;
    padding-bottom: 15px;
    padding-left: 24px;
    line-height: initial;

    .ant-select-selector {
      height: 18px;
      line-height: 18px;
    }

    .ant-select-arrow {
      top: 50%;
      right: 24px;
    }

    .ant-select-selection-item {
      line-height: normal;
    }

    &:after {
      right: 0;
      left: 0;
      width: 100%;
    }
  }
}

.navigation-page.publish-queue-page .navigation-submenu h2 {
  padding-top: 12px;
}

.ant-menu-submenu-arrows {
  min-width: 16px !important;
  margin-right: 4px;
  text-align: center;
}

.ant-menu-sub.ant-menu-inline {
  margin-top: 2px;
  margin-left: 20px;
}

.ant-menu-inline.ant-menu-root .ant-menu-item,
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
  padding: 6px 0 !important;
}

.sidebar-submenu h2 {
  margin-bottom: 26px;
}

.hamburgericon {
  margin: 0 16px 0 0 !important;
  padding: 0 !important;
}

.ant-page-header-heading-title {
  color: @dg200;
  line-height: 24px;
}

.ant-page-header-heading-sub-title {
  margin-top: 4px;
  line-height: 16px;
}

.folder-grid > div .folder-list {
  cursor: pointer;
}

.ant-breadcrumb {
  margin: 0;
}

.ant-breadcrumb li .ant-breadcrumb-link {
  line-height: 24px;
}

.search-section .ant-input-prefix {
  margin-right: 10px;
}

.table-section .ant-table-tbody > tr > td {
  position: relative;
  padding: 13px 16px;
  color: @dg200;
  line-height: 18px;

  .ant-btn.ant-btn-icon-only.ant-dropdown-trigger {
    position: absolute;
    right: 16px;
    width: 26px;
    height: 26px;
    line-height: 28px;
  }

  a {
    line-height: 18px;
  }
}

.table-dropdown {
  margin-left: auto;
}

.ant-dropdown-menu,
.table-dropdown .ant-menu {
  padding: 2px 0;
}

.ant-dropdown {
  width: 220px;
}

li.ant-menu-item.ant-menu-item-only-child .ant-menu-title-content .ant-btn,
.ant-dropdown-menu-title-content {
  color: @dg200;
}

.ant-btn.ant-btn-primary {
  > svg {
    display: inline-block;
    margin-right: 6px;
    vertical-align: -3.2px;
    stroke: @white;
  }
}

.ant-pagination .ant-pagination-item {
  width: auto;
  min-width: auto;
  max-width: initial;
}

.ant-pagination .ant-pagination-item a {
  padding: 5px 9px;
}

.ant-table-ping-left:not(.ant-table-has-fix-left) .ant-table-container::before {
  box-shadow: none;
}

.sidebar-left-margin {
  margin-left: 26px;
}

.media-grid-layout .media-hover-section {
  height: 100%;

  div.ant-typography.OnlyIcon {
    margin-right: 8px;

    .ant-typography-copy {
      display: flex !important;
      align-items: center;
      justify-content: center;
      width: 26px;
      height: 26px;
      margin: 0;
      padding: 5px;

      &:hover {
        background: @border-color !important;
        border-radius: 4px;
        box-shadow: 0px 1px 2px rgba(6, 25, 56, 0.05);

        svg,
        path {
          fill: @dg200;
        }
      }
    }
  }

  .ant-btn.ant-btn-icon-only {
    width: 26px;
    height: 26px;
    line-height: 28px;

    &:hover,
    &:focus {
      background: @border-color !important;
      border-radius: 4px;
      box-shadow: 0px 1px 2px rgba(6, 25, 56, 0.05);

      svg,
      path {
        fill: @dg200;
      }
    }
  }
}

.media-grid-layout .ant-card-cover {
  &:hover,
  &:focus,
  &:visited {
    .media-hover-section {
      opacity: 1;
    }
  }
}

.submenu .ant-menu-submenu-arrows button.plusarrow {
  margin: 0;
}

.ant-menu-submenu-arrows.editicon-gray {
  button.ant-btn.ant-btn-link {
    margin: 0;
  }
}

.ant-menu-inline.ant-menu-root .ant-menu-item > .ant-menu-title-content,
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title > .ant-menu-title-content {
  > span {
    display: block;
    flex: auto;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.media-grid-layout .media-grid-layout-content h4 {
  margin-bottom: 4px;
  line-height: 18px;
}

// .submenu li.folder-selected .ant-menu-title-content {
//   color: @primary-color !important;
//   svg, path {
//     fill: @primary-color !important;
//   }
// }

.four-column-card {
  h3 {
    line-height: 20px;
  }

  p {
    margin-top: 8px;
    color: @dg500;
    line-height: 18px;
  }

  .ant-avatar-group {
    + p {
      margin: 0;
      color: @dg500;
    }
  }
}

.dashboard-table .table-section .ant-table-tbody > tr > td p.text-truncate {
  max-width: 140px;
}

.ant-modal-body .ant-form-item div.ant-typography {
  margin-bottom: 0;
  padding: 7px 12px;
  color: @dg400;
}

.ant-modal .ant-modal-footer {
  padding-top: 15px;
}

.ant-menu-title-content .ant-tooltip-disabled-compatible-wrapper {
  display: block !important;
  margin-left: 0;
}

button.ant-btn {
  &.ant-btn-default {
    svg {
      display: inline-block;
      margin-right: 6px;
      vertical-align: -3px;
    }

    svg,
    path {
      fill: @dg300;
    }
  }

  &.ant-btn-icon-only.ant-btn-lg {
    svg {
      display: initial;
      margin: 0;
      vertical-align: 0;
    }
  }
}

.combine-buttons .ant-btn + .ant-btn {
  svg {
    display: initial;
    margin: 0;
    vertical-align: 0;
  }
}

.merchandising-sidebar .sidebar-top-section .gray-text {
  svg,
  path {
    fill: @dg500;
  }

  svg {
    display: inline-block;
    margin-right: 6px;
    vertical-align: -3px;
  }
}

.ant-layout-header {
  line-height: normal;
}

.merchandising-content .headerinner {
  .arrowleft-icon {
    top: 1px;
  }

  .ant-page-header {
    + .arrowleft-icon {
      top: 5px;
    }
  }
}

.submenu .media-menu-button .ant-row {
  top: 4px;
}

.merchandising-content .ant-layout-header .headerinner {
  height: 85px;
}

.merchandising-sidebar .sidebar-top-section {
  height: calc(100vh - 227px);
}

.merchandising-rightbar {
  height: calc(100vh - 86px);
}

p.description-truncate {
  margin-bottom: 0;
}

.cms-margin-zero .ant-menu-sub.ant-menu-inline {
  margin-top: 0;
}

.ant-modal-close {
  top: 16px;
  right: 16px;

  .ant-modal-close-x {
    width: 24px;
    height: 24px;
    line-height: 24px;
  }
}

.ant-modal.CustomModal .ant-modal-close {
  &:hover {
    background: @white;
    border-radius: 4px;

    .anticon-close svg {
      fill: @dg100;
    }
  }
}

.ant-modal p.text-red.FW-500.m-0 {
  font-size: 14px;
  line-height: 18px;

  + p {
    margin: 12px 0 24px 0;
    color: @dg500;
    font-size: 14px;
    line-height: 18px;
  }
}

.ant-modal-body {
  .ant-form {
    .ant-form-item {
      margin-bottom: 0;

      + .ant-form-item {
        margin-top: 32px;
      }
    }
  }
}

.ant-modal .ant-modal-close .anticon-close svg {
  fill: @dg500;
}

.media-grid-layout .ant-card-bordered .ant-card-cover {
  picture {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
  }

  img,
  video {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }
}

.library-upload {
  .ant-btn.m-r-16 {
    margin: 0 12px 0 0;
  }
}

.single-media .multiple-media-img {
  margin-bottom: 0;
}

.table-section .ant-table-tbody > tr > td {
  .table-img {
    + .ant-row .ant-btn.ant-btn-icon-only.ant-dropdown-trigger {
      position: inherit;
    }
  }
}

.infinte-tag {
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  vertical-align: middle;
}

.cm-theme {
  padding: 12px 12px;
  font-size: 14px;
  border: 1px solid @dg700;
  border-radius: 4px;

  .ͼ15 {
    color: @dg200 !important;
  }
}

.media-details .media-image img {
  object-fit: contain;
}

.content-library-collapse + .text-center button svg {
  position: relative;
  top: 2px;
  margin: 0 6px 0 0;

  path {
    fill: @primary-color;
  }
}

.media-grid-layout.merchandising-grid .ant-card-bordered .ant-card-cover img {
  width: 100%;
  height: 100%;
}

.publish-status-inner {
  padding: 16px 24px 0 24px;
}

.ant-select {
  &.ant-select-open {
    .ant-select-arrow {
      svg {
        transform: rotate(0deg);
      }
    }
  }
}

.drag-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  // padding: 9px 12px 9px 6px;
  padding: 7px 8px 7px 8px;
  color: @dg200;
  line-height: 18px;
  background-color: @white;
  border: 1px solid @border-color;
  border-radius: 4px;
  svg {
    width: 24px;
    margin: 0 0 0 8px;
    // margin-right: 16px;
  }
  .ant-tag {
    max-width: 80px;
    margin-right: 0;
    margin-left: auto;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }
  i {
    display: block;
    width: calc(100% - 120px);
    min-width: 0;
    overflow: hidden;
    font-style: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.drag-items-child {
  margin-left: 40px;
}

.dragicon-menu {
  margin-right: 0px !important;
  svg {
    margin: 2px 0 0 0;
    transform: rotate(0deg);
  }
}

.version-number-title {
  font-weight: normal;
}

.environments-status p.gray-text {
  margin: 0 0 16px 0;
}

.ant-tag.ant-tag-default {
  color: @dg200;
  background: @secondary-background-color;
}

.ant-modal-body .ant-form .ant-from-item-m-0 {
  margin: 0 0 24px 0;
  .ant-form-item + .ant-form-item {
    margin-top: 0;
  }
  &.ant-from-item-m-t-0 {
    margin: 24px 0 0 0;
  }
}

button.ant-btn.ant-btn-link.ant-row.arrowleft-icon.m-0 {
  margin: 0;
}

.ant-menu.ant-menu-submenu-popup .ant-menu-vertical > .ant-menu-item:hover {
  background-color: #e0e7ff;
}
