.content-library-page {
  margin: -32px -32px 0;
  border-top: 1px solid #e5e7eb;
  .content-library-left {
    width: calc(100% - 320px);
    padding: 32px;
    //border-right: 1px solid #E5E7EB;
  }
  .content-library-right {
    width: 320px;
    margin-top: -42px;
    padding: 12px 0;
    border-left: 1px solid #e5e7eb;
  }
  .ant-tabs.ant-tabs-top .ant-tabs-nav {
    width: calc(100% - 320px);
    margin: 0;
    padding: 0 32px;
  }
  .ant-tabs-top > .ant-tabs-nav:before {
    padding: 0;
    box-shadow: none;
  }
}
.content-library-page-inner {
  display: flex;
  flex-wrap: wrap;
}
.ant-upload.ant-upload-drag {
  &.library-upload {
    text-align: left;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    .ant-upload {
      padding: 12px;
    }
    .ant-upload-drag-icon {
      margin-right: 16px;
      line-height: 10px;
    }
    .ant-upload-text {
      margin-bottom: 34px;
      font-size: 12px;
      line-height: 14px;
    }
    .ant-upload-hint {
      > span {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}
#a_unique_id-outer-box {
  width: 100% !important;
  color: #333;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  #a_unique_id-container {
    width: 100% !important;
    height: 100% !important;
    border-radius: 8px;
  }
  #a_unique_id-body {
    background-color: #fff !important;
  }
}
.ant-input-number {
  width: 100%;
  border: 1px solid #d1d5db;
  border-radius: 4px;
}
.ql-toolbar.ql-snow {
  border-radius: 4px 4px 0 0;
}
.ql-container.ql-snow {
  border-radius: 0 0 4px 4px;
}
