.merchandising-content {
  .ant-layout-content {
    padding: 0;
  }

  header {
    border-bottom: 1px solid #e5e7eb;
  }
}

.merchandising-section {
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.merchandising-sidebar {
  width: 344px;
  padding: 16px 16px 0 16px;
  background: #f4f7fa;

  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list {
    flex-wrap: wrap;
    width: 100%;
  }

  .ant-tabs-tab {
    width: 25%;
    padding: 0 0 10px 0;

    + .ant-tabs-tab {
      margin: 0;
    }

    .ant-tabs-tab-btn {
      width: 100%;
      text-align: center;
    }

    .anticon {
      margin: 0 0 8px 0;
    }
  }

  .ant-slider {
    .ant-slider-rail {
      background-color: #ccc;
    }

    .ant-slider-track {
      background-color: #3730a3;
    }

    .ant-slider-handle {
      border-color: #3730a3;
    }

    .ant-slider-handle.ant-tooltip-open {
      border-color: #3730a3;
    }
  }

  .rule-condition {
    margin: 0;
    padding: 12px;
    background: #e0e7ff;
    border: 1px solid #c7d2fe;
    border-radius: 4px;

    .ant-form-item-control-input-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .ant-form-item {
        width: 48%;

        &:last-child {
          width: 100%;
          margin: 0;
        }
      }
    }

    + .rule-condition {
      margin-top: 24px;
    }

    &.only-two-col {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .ant-form-item {
        width: 48%;
        margin: 0;
      }
    }
  }

  .sidebar-top-section {
    height: calc(100vh - 234px);
    overflow-y: auto;
  }

  .sidebar-bottom-section {
    padding: 12px 0;
    border-top: 1px solid #e5e7eb;
  }
}

.merchandising-rightbar {
  width: calc(100% - 344px);
  padding: 20px;
}
