.merchandising-content {
  .ant-layout-content {
    padding: 0;
  }

  header {
    border-bottom: 1px solid @border-color;
  }

  .headerinner .arrowleft-icon {
    top: 8px;
  }
}

.merchandising-section {
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.merchandising-sidebar {
  width: 344px;
  padding: 16px 16px 0 16px;
  background: @background-color;

  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list {
    flex-wrap: wrap;
    width: 100%;
  }

  .ant-tabs-tab .ant-tabs-tab-btn br {
    display: block;
  }

  .ant-tabs-tab {
    width: 25%;
    padding: 0 0 10px 0;

    + .ant-tabs-tab {
      margin: 0;
    }

    .ant-tabs-tab-btn {
      width: 100%;
      text-align: center;
    }

    .anticon {
      margin: 0 0 8px 0;
    }

    &.ant-tabs-tab-active {
      svg,
      svg path {
        fill: @primary-color;
      }
    }
  }

  .ant-slider {
    .ant-slider-rail {
      background-color: #ccc;
    }

    .ant-slider-track {
      background-color: @b200;
    }

    .ant-slider-handle {
      border-color: @b200;
    }

    .ant-slider-handle.ant-tooltip-open {
      border-color: @b200;
    }
  }

  .rule-condition {
    margin: 0;
    padding: 12px;
    background: @b900;
    border: 1px solid @b800;
    border-radius: 4px;

    .ant-form-item-control-input-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      > div.ant-form-item {
        width: 48%;

        &:last-child {
          width: 100%;
          margin: 0;
        }

        &:nth-child(3) {
          width: 100%;
          margin: 0;
        }
      }
    }

    + .rule-condition {
      margin-top: 24px;
    }

    &.only-two-col {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .ant-form-item {
        width: 48%;
        margin: 0;
      }

      .round-close-icon {
        top: -10px;
        right: 10px;
      }
    }
  }

  .sidebar-top-section {
    height: calc(100vh - 246px);
    overflow-y: auto;

    .ant-slider {
      margin: 10px 18px;
    }

    &.collapse-sidebar-section {
      height: calc(100vh - 190px);
    }
  }

  .sidebar-bottom-section {
    padding: 12px 0;
    border-top: 1px solid @border-color;
  }

  .ant-collapse > .ant-collapse-item {
    margin-bottom: 8px;
    border: none;

    + .ant-collapse-item {
      margin-top: 0px;
    }

    > .ant-collapse-header {
      // padding: 9px 14px;
      padding: 7px 8px;
      font-weight: normal;
      line-height: 18px;
      word-break: break-all;
      background-color: @white;
      border: 1px solid @dg700;
      border-radius: 4px;

      .ant-collapse-extra {
        opacity: 0;
      }

      &:hover {
        color: @primary-color;

        .ant-collapse-extra {
          opacity: 1;
        }
      }
    }

    .ant-collapse-content {
      border: 1px solid @dg700;
      border-top: none;
      border-radius: 0 0 4px 4px;
    }

    &.ant-collapse-item-active {
      > .ant-collapse-header {
        border-radius: 4px 4px 0 0;

        .ant-collapse-extra {
          opacity: 1;
        }
      }
    }
  }
}

.merchandising-rightbar {
  width: calc(100% - 344px);
  height: calc(100vh - 98px);
  padding: 20px;
  overflow-y: auto;
  .rti--container {
    width: 650px;
    padding: 5px 12px;
    font-size: 14px;
    border: 1px solid @dg700;
    border-radius: 4px;
    .rti--input {
      width: auto;
    }
    .rti--tag {
      height: 20px;
      color: @dg200;
      font-weight: 500;
      font-size: 12px;
      line-height: 19px;
      background: @secondary-background-color;
      border-radius: 4px;
      button {
        margin-left: 4px;
        padding: 0;
      }
    }
    &:focus,
    &:focus-within {
      border-color: @primary-color !important;
      box-shadow: none !important;
    }
  }
}

// pin tab css

.product-list {
  padding: 0;

  .ant-select-item-option-content {
    display: flex;
    flex-wrap: wrap;
  }

  .product-list-right {
    width: calc(100% - 52px);
    margin-left: 12px;

    h5 {
      color: @dg200;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      white-space: break-spaces;
    }

    h6 {
      margin: 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
    }
  }

  .ant-avatar.ant-avatar-lg.ant-avatar-square {
    line-height: 40px;
    background-color: #666;
  }

  + .product-list {
    margin-top: 16px;
  }

  &.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: transparent;
  }

  &.product-list-three-col {
    position: relative;
    padding: 8px;
    background: @b900;
    border: 1px solid @b800;
    border-radius: 4px;

    .product-list-right {
      width: calc(100% - 108px);
    }

    .ant-input-number {
      width: 56px;
      margin-top: auto;
    }

    &.whithout-bg {
      padding: 0;
      background-color: transparent;
      border: none;
    }

    .round-close-icon {
      top: -10px;
      right: 10px;
    }
  }
}

.ant-select-dropdown .rc-virtual-list-holder-inner {
  .product-list + .product-list {
    margin: 0;
    padding-top: 16px;
  }
}

.product-condition-labels {
  h5 {
    margin-bottom: 8px;
    color: @dg500;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
  }

  > div {
    line-height: 18px;
  }

  > div + div {
    margin: 8px 0 0 0;
  }

  + .product-condition-labels {
    margin-top: 24px;
  }

  &.media-content-details p {
    word-break: break-all;
  }
}

.pin-tab {
  width: 54px;
  margin-left: 2px;

  > span {
    display: flex;
    align-items: center;
    padding: 5px 9px;
    font-size: 12px;
    line-height: 14px;
    border: 1px solid @border-color;
    border-radius: 32px;

    .anticon {
      margin-left: 10px;
    }
  }
}

.round-close-icon {
  position: absolute;
  top: -23px;
  right: 0;
  svg {
    width: 22px;
    height: 22px;
    background: @white;
    border-radius: 50%;
    path {
      &.cross {
        fill: @dg600;
      }
      &.cross-line {
        fill: @b800;
      }
    }
  }
}

button.ant-btn.ant-btn-link.ant-btn-icon-only.round-close-icon {
  background-color: transparent !important;

  svg path {
    fill: auto !important;
  }
}

.table-section {
  position: relative;
  &.table-disable {
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: @white;
      cursor: not-allowed;
      opacity: 0.5;
      content: '';
    }
  }
}

.merchandising-grid {
  margin: 0 -8px;
  > div {
    width: 20%;
    margin-bottom: 16px;
    padding: 0 8px;
    @media screen and (max-width: 1600px) {
      width: 25%;
    }
  }
  .ant-card-bordered .ant-card-cover {
    height: 230px;
    img {
      object-fit: contain;
    }
  }
  .ant-card-body {
    padding: 16px 12px 12px 12px;
    h4 {
      max-width: 98%;
      margin: 0;
      overflow: hidden;
      color: @dg200;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .media-content-details {
      margin-top: 12px;
      > div {
        font-size: 12px;
        line-height: 14px;
        + div {
          margin: 4px 0 0 0;
        }
      }
      p {
        word-break: break-word;
      }
    }
  }
}

.media-content-details {
  &.operation-text {
    span {
      color: @dg200;
      font-size: 14px;
      text-transform: capitalize;
    }
    p {
      font-size: 14px;
      &.text-red {
        color: @r400;
      }
      &.text-green {
        color: @g400;
      }
    }
  }
}

p.description-truncate {
  display: -webkit-box;
  width: 100%;
  width: calc(100% - 108px) !important;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.product-count {
  position: absolute;
  top: 8px;
  left: 8px;
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  background: @white;
  border: 1px solid @border-color;
  border-radius: 32px;
  &.product-count-pin {
    svg {
      width: 12px;
      height: 12px;
      margin-left: 8px;
    }
  }
  &.product-slot {
    right: 8px;
    left: auto;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0;

    svg {
      width: 14px;
      height: 14px;

      path {
        fill: @dg200;
      }
    }
  }
}

.merchandising-grid .media-content-details span {
  text-transform: capitalize;
}

.border-empty-box {
  margin-top: 48px;
  padding: 32px;
  border: 1px solid @border-color;
  border-radius: 8px;
  .no-data {
    padding: 0;
  }
}

.react-tags-wrapper {
  width: 650px;
  padding: 0;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  .ReactTags__selected {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 5px 12px;
    overflow: hidden;
    border: 1px solid @dg700;
    border-radius: 4px;
    .tag-wrapper.ReactTags__tag {
      display: flex;
      margin-top: 0px;
      margin-bottom: 2px;
      font-weight: 500;
      font-size: 12px;
      line-height: 19px;
      background: @secondary-background-color;
      border-radius: 4px;
      margin-inline-end: 4px;
      padding-inline-end: 4px;
      padding-inline-start: 8px;
      .ReactTags__remove {
        width: 14px;
        margin-left: 4px;
        padding: 0;
        font-size: 18px;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
      &.custom_tag {
        display: flex;
        color: @white;
        background-color: @primary-color;
        .ReactTags__remove {
          color: @white;
        }
      }
    }
  }
  .ReactTags__tagInput {
    display: flex;
    flex-grow: 1;
    width: auto;
    min-width: 100px;
    overflow: hidden;
  }
  .ReactTags__tagInputField {
    width: 100%;
    padding: 0;
    overflow: hidden;
    border: none;
    box-shadow: none;
    &:focus,
    &:focus-visible {
      border: none;
      outline: none;
      box-shadow: none;
    }
  }
}
.css-b62m3t-container {
  width: 650px;
  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
  .css-1rhbuit-multiValue {
    display: flex;
    margin-top: 0px;
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    background: @secondary-background-color;
    border-radius: 4px;
    margin-inline-end: 4px;
    padding-inline-end: 4px;
    padding-inline-start: 4px;
    .css-xb97g8 {
      &:hover {
        color: inherit !important;
        background-color: transparent !important;
      }
    }
  }
}
.css-1s2u09g-control {
  min-height: 34px;
  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
}
.css-tlfecz-indicatorContainer {
  padding: 6px 8px;
}
.css-1f43avz-a11yText-A11yText {
  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
}

.modal-slider-section {
  padding: 24px 0;
  border-top: 1px solid @border-color;
  border-bottom: 1px solid @border-color;
  .ant-radio-wrapper {
    font-weight: 600;
    line-height: 18px;
  }
}

.modal-slider-section-inner {
  margin-left: 36px;
  .three-col-input {
    margin-top: 24px;
    > div {
      width: 30%;
    }
  }
}

.sort-by-facts {
  position: relative;
  &::before {
    position: absolute;
    left: -28px;
    display: block;
    height: 100%;
    border-left: 1px solid @border-color;
    content: '';
  }
  .ant-table table {
    border-spacing: 0 6px;
  }
  .table-section .ant-table-thead > tr > th {
    display: none;
  }
  .table-section .ant-table-tbody > tr > td.drag-visible {
    margin-bottom: 10px;
    padding: 9px;
    color: @dg200;
    font-size: 12px;
    line-height: 14px;
    border: 1px solid @border-color;
    border-radius: 4px;
    box-shadow: none;
    &:first-child {
      border-width: 1px 0 1px 1px;
      border-radius: 4px 0 0 4px;
    }
    &:nth-child(2) {
      border-width: 1px 0 1px 0;
      border-radius: 0;
    }
    &:last-child {
      border-width: 1px 1px 1px 0;
      border-radius: 0 4px 4px 0;
    }
  }
}
