.custom-tooltip {
  .ant-tooltip-arrow-content {
    background-color: @dg200;
    --antd-arrow-background-color: @dg200;
  }

  .ant-tooltip-inner {
    padding: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: @dg200;
    border-radius: 8px;
  }

  &.custom-large {
    max-width: 460px;
  }
}
