@primary-color: #4f46e5; //if you change primary color than also change in color.less for @b400
@secondary-color: #1f2937; // if you change secondary color than also change in color.less for @dg200

@base-font-color: #6b7280; // if you change base-font color than also change in color.less for @dg500

@large-input: 8px 12px;
@medium-input: 5px 12px;

@border-color: #e5e7eb;
@background-color: #f4f7fa;
@secondary-background-color: #f3f4f6;
